node_modules/
dist/
build/
.env
.env.local
*.log
server/uploads/*
!server/uploads/.gitkeep
.mongodb-binaries/
coverage/
.DS_Store
.mongodb-data/
cypress/videos/
cypress/screenshots/
cypress/downloads/
